body {
  background-color: #232323;
  font-family: "Montserrat", "helvetica";
  font-weight: 500;
  margin: 0;

}
h1{
  color:white;
  text-align: center;
  background-color: steelblue;
  margin:0;
  padding:15px 0;
  line-height: 1.3;
}

#stripe{
  background-color: white;
  color:black;
  height:auto;
  text-align: center;
  margin:0;
  text-transform: uppercase;
}

#message{
background-color: white;
color: black;
font-weight:500;
font-size: inherit;
letter-spacing: 1px
}

#colorDisplay{
    text-transform: uppercase;
    font-size:125%;
}

button{
  border-style: none;
  background-color: white;
  color: steelblue;
  padding:5px 5px;
  font-weight:700;
  font-size: inherit;
  letter-spacing: 1px;
  margin:0;
  transition: background .4s;
  -webkit-transition: background .4s;
  -moz-transition: background .4s;
  outline: none;
}

button:hover{
  color:white;
  background-color: steelblue;
}

#message{
  display:inline-block;
  width: 20%;
}
.container{
  max-width: 600px;
  margin: 0 auto;
  padding:20px 0;
}
.square {
  border-radius: 20%;
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin:1.66%;
  transition: background .5s;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
}

.selected{
  background-color: steelblue;
  color: white;
  }
}
