body {
  background-color: #232323;
  font-family: helvetica, bold;

}
h1{
  color:white;
  text-align: center;
  background-color: steelblue;
  margin:0;
  padding:15px;
}

#stripe{
  background-color: white;
  color:black;
  height:30px;
  text-align: center;
  margin:0
  padding:5px;
}

#message{
color:black;
}

#colorDisplay{
    text-transform: uppercase;
}
.container{
  max-width: 600px;
  margin: 0 auto;
  padding-top:20px;
}
.square {
  border-radius: 20%;
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin:1.66%;
}

.selected{
  background-color: lightblue;
  color: white;
  }
}
